body {
  color: #34aeff;
}
button {
  color: #34aeff;
}

input {
  color: #34aeff;
}

select {
  color: #34aeff;
}
.groupInfoImg {
}
.groupInfoMembersCount {
}
.groupInfoName {
}
@media only screen and (max-width: 300px) {
  .simpleGroupContent {
    font-size: 0.05rem;
    color: #34aeff;
    height: 10px;
  }
  .simpleImgContent {
    width: 10px;
  }
  .simpleImg {
    max-width: 10px;
    max-height: 10px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    font-size: 0.1rem;
    color: #000000;
  }
  .logotype {
    width: 30px;
  }
}
@media only screen and (min-width: 300px) {
  .simpleGroupContent {
    font-size: 0.3rem;
    color: #34aeff;
    height: 20px;
  }
  .simpleImgContent {
    width: 20px;
  }
  .simpleImg {
    max-width: 20px;
    max-height: 20px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    font-size: 0.4rem;
    color: #000000;
  }
  .logotype {
    width: 50px;
  }
}
@media only screen and (min-width: 576px) {
  .simpleGroupContent {
    font-size: 0.4rem;
    color: #34aeff;
    height: 30px;
  }
  .simpleImgContent {
    width: 30px;
  }
  .simpleImg {
    max-width: 30px;
    max-height: 30px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    font-size: 0.55rem;
    color: #000000;
  }
  .logotype {
    width: 70px;
  }
}
@media only screen and (min-width: 768px) {
  .simpleGroupContent {
    font-size: 0.55rem;
    color: #34aeff;
    height: 40px;
  }
  .simpleImgContent {
    width: 40px;
  }
  .simpleImg {
    max-width: 40px;
    max-height: 40px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    font-size: 0.65rem;
    color: #000000;
  }
  .logotype {
    width: 90px;
  }
}
@media only screen and (min-width: 992px) {
  .simpleGroupContent {
    font-size: 0.65rem;
    color: #34aeff;
    height: 50px;
  }
  .simpleImgContent {
    width: 50px;
  }
  .simpleImg {
    max-width: 50px;
    max-height: 50px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    font-size: 0.8rem;
    color: #000000;
  }
  .logotype {
    width: 120px;
  }
}
@media only screen and (min-width: 1200px) {
  .simpleGroupContent {
    font-size: 0.8rem;
    color: #34aeff;
    height: 60px;
  }
  .simpleImgContent {
    width: 60px;
  }
  .simpleImg {
    max-width: 60px;
    max-height: 60px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    font-size: 1.1rem;
    color: #000000;
  }
  .logotype {
    width: 150px;
  }
}
@media only screen and (min-width: 1800px) {
  .simpleGroupContent {
    font-size: 1.5rem;
    color: #34aeff;
    height: 100px;
  }
  .simpleImgContent {
    width: 100px;
  }
  .simpleImg {
    max-width: 100px;
    max-height: 100px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    font-size: 1.9rem;
    color: #000000;
  }
}
