body {
  color: #34aeff;
}
/* width 
::-webkit-scrollbar {
  width: 1vw;
}*/

/* Track 
::-webkit-scrollbar-track {
  background: #f1f1f1;
}*/

/* Handle 
::-webkit-scrollbar-thumb {
  background: #888;
}*/

/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
  background: #555;
}*/
.sendFileButton {
  max-width: 4vmin;
  /* max-height: 4vmin; */
}
.myMessage {
  background-color: #0e1422;
  word-break: break-all;
  font-size: 0.1rem;
  font-size: 2vmin;
}
.noMyMessage {
  background-color: #e4edff;
  word-break: break-all;
  font-size: 0.1rem;
  font-size: 2vmin;
}
.myMessageDiv {
  justify-content: flex-end;
}
.noMyMessageDiv {
  justify-content: end;
}
.invitationValueContent {
  font-size: 0.1rem;
  font-size: 1.5vw;
}
.foo {
  font-size: 0.1rem;
  font-size: 1.5vmin;
  /* height: 15vmin; */
  /* width: 40vmin;
  height: 40vmin; */
}
button {
  color: #34aeff;
}

input {
  color: #34aeff;
}

select {
  color: #34aeff;
}
.simpleGroupContent {
  font-size: 0.05rem;
  font-size: 1vw;
  cursor: pointer;
}
.simpleGroupContent:hover {
  background-color: #34aeff;
  color: #ffffff;
}
.groupInfoContent {
  font-size: 0.075rem;
  font-size: 1.5vw;
}
.simpleName,
.sendMessageForm,
.chatOptions {
  font-size: 0.1rem;
  font-size: 1.5vw;
}
.groupInfoName,
.addMemberInput {
  font-size: 0.15rem;
  font-size: 2vw;
}
@media only screen and (max-width: 300px) {
  .simpleGroupContent {
    height: 10px;
  }
  .invitationValueContent {
    height: 20px;
  }
  .groupInfoContent {
    height: 15px;
  }
  .simpleImgContent {
    width: 10px;
  }
  .invitationImgContent {
    width: 20px;
  }
  .groupInfoImgContent {
    width: 15px;
  }
  .simpleImg {
    max-width: 10px;
    max-height: 10px;
  }
  .groupInfoImg {
    max-width: 15px;
    max-height: 15px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    color: #000000;
  }
  .groupInfoName {
    color: #000000;
  }
  .logotype {
    width: 30px;
  }
}
@media only screen and (min-width: 300px) {
  .simpleGroupContent {
    height: 20px;
  }
  .invitationValueContent {
    height: 40px;
  }
  .groupInfoContent {
    height: 30px;
  }
  .simpleImgContent {
    width: 20px;
  }
  .invitationImgContent {
    width: 40px;
  }
  .groupInfoImgContent {
    width: 30px;
  }
  .simpleImg {
    max-width: 20px;
    max-height: 20px;
  }
  .groupInfoImg {
    max-width: 30px;
    max-height: 30px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    color: #000000;
  }
  .groupInfoName {
    color: #000000;
  }
  .logotype {
    width: 50px;
  }
}
@media only screen and (min-width: 576px) {
  .simpleGroupContent {
    height: 30px;
  }
  .invitationValueContent {
    height: 60px;
  }
  .groupInfoContent {
    height: 45px;
  }
  .simpleImgContent {
    width: 30px;
  }
  .invitationImgContent {
    width: 60px;
  }
  .groupInfoImgContent {
    width: 45px;
  }
  .simpleImg {
    max-width: 30px;
    max-height: 30px;
  }
  .groupInfoImg {
    max-width: 45px;
    max-height: 45px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    color: #000000;
  }
  .groupInfoName {
    color: #000000;
  }
  .logotype {
    width: 70px;
  }
}
@media only screen and (min-width: 768px) {
  .simpleGroupContent {
    height: 40px;
  }
  .invitationValueContent {
    height: 80px;
  }
  .groupInfoContent {
    height: 60px;
  }
  .simpleImgContent {
    width: 40px;
  }
  .invitationImgContent {
    width: 60px;
  }
  .groupInfoImgContent {
    width: 60px;
  }
  .simpleImg {
    max-width: 40px;
    max-height: 40px;
  }
  .groupInfoImg {
    max-width: 60px;
    max-height: 60px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    color: #000000;
  }
  .groupInfoName {
    color: #000000;
  }
  .logotype {
    width: 90px;
  }
}
@media only screen and (min-width: 992px) {
  .simpleGroupContent {
    height: 50px;
  }
  .invitationValueContent {
    height: 100px;
  }
  .groupInfoContent {
    height: 75px;
  }
  .simpleImgContent {
    width: 50px;
  }
  .invitationImgContent {
    width: 100px;
  }
  .groupInfoImgContent {
    width: 75px;
  }
  .simpleImg {
    max-width: 50px;
    max-height: 50px;
  }
  .groupInfoImg {
    max-width: 75px;
    max-height: 75px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    color: #000000;
  }
  .groupInfoName {
    color: #000000;
  }
  .logotype {
    width: 120px;
  }
}
@media only screen and (min-width: 1200px) {
  .simpleGroupContent {
    height: 60px;
  }
  .invitationValueContent {
    height: 120px;
  }
  .groupInfoContent {
    height: 90px;
  }
  .simpleImgContent {
    width: 60px;
  }
  .invitationImgContent {
    width: 120px;
  }
  .groupInfoImgContent {
    width: 90px;
  }
  .simpleImg {
    max-width: 60px;
    max-height: 60px;
  }
  .groupInfoImg {
    max-width: 90px;
    max-height: 90px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    color: #000000;
  }
  .groupInfoName {
    color: #000000;
  }
  .logotype {
    width: 150px;
  }
}
@media only screen and (min-width: 1800px) {
  .simpleGroupContent {
    height: 100px;
  }
  .invitationValueContent {
    height: 200px;
  }
  .groupInfoContent {
    height: 150px;
  }
  .simpleImgContent {
    width: 100px;
  }
  .invitationImgContent {
    width: 200px;
  }
  .groupInfoImgContent {
    width: 150px;
  }
  .simpleImg {
    max-width: 100px;
    max-height: 100px;
  }
  .groupInfoImg {
    max-width: 150px;
    max-height: 150px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    color: #000000;
  }
  .groupInfoName {
    color: #000000;
  }
  .logotype {
    width: 200px;
  }
}

/* @media only screen and (max-width: 300px) {
  .simpleGroupContent {
    font-size: 0.05rem;
    height: 10px;
  }
  .groupInfoContent {
    font-size: 0.075rem;
    height: 15px;
  }
  .simpleImgContent {
    width: 10px;
  }
  .groupInfoImgContent {
    width: 15px;
  }
  .simpleImg {
    max-width: 10px;
    max-height: 10px;
  }
  .groupInfoImg {
    max-width: 15px;
    max-height: 15px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    font-size: 0.1rem;
    color: #000000;
  }
  .groupInfoName {
    font-size: 0.15rem;
    color: #000000;
  }
  .logotype {
    width: 30px;
  }
}
@media only screen and (min-width: 300px) {
  .simpleGroupContent {
    font-size: 0.3rem;
    height: 20px;
  }
  .groupInfoContent {
    font-size: 0.45rem;
    height: 30px;
  }
  .simpleImgContent {
    width: 20px;
  }
  .groupInfoImgContent {
    width: 30px;
  }
  .simpleImg {
    max-width: 20px;
    max-height: 20px;
  }
  .groupInfoImg {
    max-width: 30px;
    max-height: 30px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    font-size: 0.4rem;
    color: #000000;
  }
  .groupInfoName {
    font-size: 0.6rem;
    color: #000000;
  }
  .logotype {
    width: 50px;
  }
}
@media only screen and (min-width: 576px) {
  .simpleGroupContent {
    font-size: 0.4rem;
    height: 30px;
  }
  .groupInfoContent {
    font-size: 0.6rem;
    height: 45px;
  }
  .simpleImgContent {
    width: 30px;
  }
  .groupInfoImgContent {
    width: 45px;
  }
  .simpleImg {
    max-width: 30px;
    max-height: 30px;
  }
  .groupInfoImg {
    max-width: 45px;
    max-height: 45px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    font-size: 0.55rem;
    color: #000000;
  }
  .groupInfoName {
    font-size: 0.825rem;
    color: #000000;
  }
  .logotype {
    width: 70px;
  }
}
@media only screen and (min-width: 768px) {
  .simpleGroupContent {
    font-size: 0.55rem;
    height: 40px;
  }
  .groupInfoContent {
    font-size: 0.825rem;
    height: 60px;
  }
  .simpleImgContent {
    width: 40px;
  }
  .groupInfoImgContent {
    width: 60px;
  }
  .simpleImg {
    max-width: 40px;
    max-height: 40px;
  }
  .groupInfoImg {
    max-width: 60px;
    max-height: 60px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    font-size: 0.65rem;
    color: #000000;
  }
  .groupInfoName {
    font-size: 0.975rem;
    color: #000000;
  }
  .logotype {
    width: 90px;
  }
}
@media only screen and (min-width: 992px) {
  .simpleGroupContent {
    font-size: 0.65rem;
    height: 50px;
  }
  .groupInfoContent {
    font-size: 0.975rem;
    height: 75px;
  }
  .simpleImgContent {
    width: 50px;
  }
  .groupInfoImgContent {
    width: 75px;
  }
  .simpleImg {
    max-width: 50px;
    max-height: 50px;
  }
  .groupInfoImg {
    max-width: 75px;
    max-height: 75px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    font-size: 0.8rem;
    color: #000000;
  }
  .groupInfoName {
    font-size: 1.2rem;
    color: #000000;
  }
  .logotype {
    width: 120px;
  }
}
@media only screen and (min-width: 1200px) {
  .simpleGroupContent {
    font-size: 0.8rem;
    height: 60px;
  }
  .groupInfoContent {
    font-size: 1.2rem;
    height: 90px;
  }
  .simpleImgContent {
    width: 60px;
  }
  .groupInfoImgContent {
    width: 90px;
  }
  .simpleImg {
    max-width: 60px;
    max-height: 60px;
  }
  .groupInfoImg {
    max-width: 90px;
    max-height: 90px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    font-size: 1.1rem;
    color: #000000;
  }
  .groupInfoName {
    font-size: 1.65rem;
    color: #000000;
  }
  .logotype {
    width: 150px;
  }
}
@media only screen and (min-width: 1800px) {
  .simpleGroupContent {
    font-size: 1.5rem;
    height: 100px;
  }
  .groupInfoContent {
    font-size: 2.25rem;
    height: 150px;
  }
  .simpleImgContent {
    width: 100px;
  }
  .groupInfoImgContent {
    width: 150px;
  }
  .simpleImg {
    max-width: 100px;
    max-height: 100px;
  }
  .groupInfoImg {
    max-width: 150px;
    max-height: 150px;
  }
  .simpleName,
  .sendMessageForm,
  .chatOptions {
    font-size: 1.9rem;
    color: #000000;
  }
  .groupInfoName {
    font-size: 2.85rem;
    color: #000000;
  }
  .logotype {
    width: 200px;
  }
} */
